body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #121212;
}

.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  overflow: hidden;
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .details {
  padding: 15px;
}

.card .details h3,
.card .details p {
  margin: 5px 0;
}

.card .details .title,
.card .details .body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .details .body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card .details .read-more {
  color: #1e90ff;
  cursor: pointer;
  text-decoration: none;
}
